*{
    justify-items: center;
    background: linear-gradient(to right,green, transparent,green);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: transparent;
}

h1{
    color:green;
    font-size: 2.5em;
    margin: 10px 0px 10px;
    background: transparent;
}

#snake{
    border: solid green 0.2rem;
}
